.headerContainer {
  display: block;
}

.headerTop {
  width: 100%;
  height: 60px;
  padding: 15px 0;
  background-color: #111;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  margin: 0;
  padding: 0;
}

.headerBottom{
  display: block;
  background: #fff;;
  z-index: 1000;
  top: 0;  
  width: auto;
  height: 60px;
  position: relative;
}


.mainNav{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  display: block;
  float: left;
  font-family: 'Gotham 7r', 'Gotham A', 'Gotham B', sans-serif;
  font-style: Normal;
  font-stretch: normal;
  font-feature-settings: "liga" on;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.headerButtons{
  float: left;
  padding: 0 3px;
  height: 100%;
  margin: 0;
  display: list-item;
}

.a{
  height: 60px;
  font-size: 12px;
  padding: 0 19px;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
  color: #333;
  position: relative;
  background-color: transparent;
  text-align: center;
  font-weight: bolder;
}